@tailwind base;
@tailwind components;
@tailwind utilities;
/*
START - CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: "Roboto", "Poppins", "Inter", sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: Poppins, sans-serif;
}

tr {
  font-family: Poppins, sans-serif;
}
th {
  font-family: Inter, sans-serif;
}

#root {
  isolation: isolate;
  height: 100%;
}

/* END - CSS Reset */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

tbody tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 425px) {
  {
	border: 0;
  }

  thead {
	display: none;
  }

  tr {
	margin-bottom: 10px;
	display: block;
  }

  td {
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 13px;
  }

  td:last-child {
	border-bottom: 0;
  }

  td:before {
	content: attr(data-label);
	float: left;
	text-transform: uppercase;
	font-weight: bold;
  }
}